[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
autopep8 = "*"

[packages]
jupyter = "*"
ezsheets = "*"
black = "==19.10b0"
oauth2client = "*"
gspread = "*"
pandas = "*"
pyyaml = "*"
scipy = "*"
numba = "*"
tqdm = "*"
seaborn = "*"
discord-webhook = "*"
modern-renaissance = {editable = true, path = "."}
quant-helper = {editable = true, path = "./../quant_helper"}
mintapi = "*"
ccxt = "*"

[requires]
python_version = "3.7"
